.paperStyle {
  padding: 20;
  margin: 20px auto;
  height: 70vh;
  width: 45%;
}

@media only screen and (max-width : 1280px  ) {
  .paperStyle {
    padding: 20;
    padding-top: 20;
    margin: 20px auto;
    height: 90vh;
    width: 55%;
  }
}



